Caelestia
shell/plugin/build
optional/Minerva/.venv
optional/Minerva/voice
optional/Minerva/backend/__pycache__
optional/Minerva/backend/core/__pycache__
optional/Minerva/backend/tools/__pycache__
plugin_settings.json

