Caelestia
shell/plugin/build
optional/Minerva/.venv
optional/Minerva/voice
__pycache__/
*.pyc
*.pyo

optional/Minerva/.venv
optional/Minerva/voice
optional/Minerva/backend/.env
plugin_settings.json


plugins.json
